extends table_layout

block columnHeaders
  th Actor
  th Featured In
  th Roles

block tableRows
  each row in rows
    tr
      td= row.firstname + " " + row.lastname
      td= row.featured
      td= row.roles
            
append scripts