extends table_layout

block columnHeaders
  th Actor
  th Featured In

block tableRows
  each row in rows
    tr
      th= row.firstname + " " + row.lastname
      th= row.featured
      th= row.roles
            
append scripts