extends layout

block title
  title DANK MOVIE RECOMMENDER

block content
    #jumbotron.vertical-center.jumbotron
      .container.text-center
        h1 Welcome to DankRecs 
        #lenny.h1 ( ͡° ͜ʖ ͡°)

block footer

