extends layout

block content
  .vertical-center.text-center
    #formContainer.container
      form
        if title == "Login"
          legend
            h1 Login
        else
          legend
            h1 Sign Up For DankRecs!
          p 
            b As a member, you can get all these dank perks:
          p Keep track of movies you have seen
          p Rate movies
          p Brag to your friends about how dank you are
        fieldset.form-group
          label Email
            input#emailField.form-control(type="email")
        fieldset.form-group
          label Password
            input#passwordField.form-control(type="password")
        if title == "Login"
          button.btn.btn-primary(type="submit") Login
        else
          button.btn.btn-primary(type="submit") Register