extends info_layout

block title
  title Dank Search
  
block info
  if movie != null
    .search-result-item.container
       img(src=)
       .container
          h3=movie.moviename
          input.rating(type="text" readonly=true data-size="sm" data-step=0.1 value=movie.rating)
          p="Release Date: " + movie.date_release + "<br />" + "Genres: " + movie.topicArray
