extends table_layout

block columnHeaders
  th Image
  th Movie
  th Your Rating

block tableRows
  each row, index in rows
    tr
      td
        img(src=row.imageurl)
      td= row.moviename
      td= row.rating

append scripts