extends table_layout

block columnHeaders
  th Studio
  th Country
  th Movies

block tableRows
  each row, rowIndex in rows
    tr
      td= row.name
      td= row.country
      td= row.movies

append scripts